{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ recipe.title }}{% endblock %}

{% block content %}
  <h1>{{ recipe.title }}</h1>
  <p class="date">
    {% translate "Published" %} {{ recipe.publish }} {% translate "by" %} {{ recipe.author }}
  </p>
  <h2>{% translate "Ingredients" %}</h2>
  {{ recipe.ingredients|linebreaks}}
  <h2>{% translate "Instructions" %}</h2>
  {{ recipe.instructions|linebreaks}}
  
  <h2>{% translate "Similar recipes" %}</h2>
  {% for recipe in similar_recipes %}
    <p>
      <a href="{{ post.get_absolute_url }}">{{ recipe.title }}</a>
    </p>
  {% empty %}
  {% translate "There are no similar recipes yet" %}.
  {% endfor %}
  
  {% with reviews.count as total_reviews %}
    <h2>
      {{ total_reviews}} {% translate "review" %}{{total_reviews|pluralize}}
    </h2>
  {% endwith %}
  {% for review in reviews %}
    <div class="comment">
      <p class="info">
        {% translate "Review" %} {{ forloop.counter }} {% translate "by" %} {{ review.name }}, {% translate "rating" %}: {{ review.rating }}
      </p>
      {{ review.body|linebreaks }}
    </div>
  {% empty %}
    <p>{% translate "There are no reviews" %}.</p>
  {% endfor %}
  {% include "blog/recipe/includes/review_form.html" %}
{% endblock %}